.OperatorPanel
{
	border: 1px solid black;
	width: 300px;
	background-color: oldlace;
}
body {
}
.Lookups li
{
	list-style-type: none;
	display: inline;
	float: left;
	margin-top: 30px;
	margin-left: 25px;
}
.itemPanel
{
	width: 200px;
	height: 30px;
}
.icon
{
	width: 16px;
	height: 16px;
}
.watermark
{
    font-weight: lighter;
    font-style: italic;
    color: #C0C0C0;
}
