.OperatorPanel
{
	border: 1px solid black;
	width: 300px;
	background-color: oldlace;
}
body {
}
.Lookups li
{
	list-style-type: none;
	display: inline;
	float: left;
	margin-top: 30px;
	margin-left: 25px;
}
.itemPanel
{
	width: 200px;
	height: 30px;
}
.icon
{
	width: 16px;
	height: 16px;
}
.watermark
{
    font-weight: lighter;
    font-style: italic;
    color: #C0C0C0;
}

/*----- Top Information Tables -----*/
.InfoTable
{
	width: 750px;
}
.InfoFieldName
{
    text-align: right;
    width: 375px;
    font-weight: bold;
}
.InfoFieldValue
{
    text-align: left;
    width: 375px;
}

/*----- Collapsible Panel -----*/
.CollapsiblePanelHeader
{
	width: 750px; 
	font-weight:bold;
}
.CollapsiblePanelBody
{
	width: 750px;
}

/*----- Expandable Listview Styles -----*/
.grid
{
 	border:solid 2px #a5a4bd;        	
	font-family:Tahoma;
	font-size:12px;
}
.grid H2
 {
 	background:#8988a5 url(_assets/img/title-bg.gif);
 	border-bottom:solid 1px #57566f;
 	height:28px;
 	line-height:28px;
 	margin:0px;
 	padding:0px 0px 0px 5px;
	color:#fff;
	font-size:15px;
 }
 .grid TABLE
 {
 }
 
 /* grid headers */
 .grid #orders .head TH
 {
 	background:#e9e9eb url(_assets/img/header-bg.gif);
 	height:24px;
 	line-height:24px;
 	padding-left:6px;
 	color:#666666;
 	text-align:left;
 }
 .grid #orders .head TH.first
 {
 	/* get rid of the first slash */
 	background:#e9e9eb url(_assets/img/header-bg.gif) -3px;
 	width:20px;
 } 
 
 /* group header */
 .grid #orders .group TH
 {
 	padding:10px 0px 2px 0px;
 	color:#666666;
 	text-align:left;
 	border-bottom:solid 2px #a5a4bd;
 } 
 .grid #orders .group TH.first
 {
 	text-align:center;         	
 	border-bottom:none;
 }              
 
 /* data items */                                       
 .grid #orders .item TD
 {
 	padding:3px 0px 3px 6px;
 	border-bottom:solid 1px #eae9e1; 
 	color:#222222;       	
 } 
 
 /* pager */    
.grid #pager .pager TD
{
	height:40px;
}  
.grid #pager .pager .commands
{
	height:40px;
    padding:4px 0px 0px 25px;
}               
.grid #pager .pager .info
{
    padding:4px 25px 0px 0px;
	text-align:right;
}
.hidden
{
	display:none;
	visibility:hidden;
}    

/*----- Contract Warning -----*/
.ContractWarning
{
	font-weight: bold;
	color: #000000;
	background-color: #FF0000;
}