body {
}
.Lookups li
{
	list-style-type: none;
	display: inline;
	float: left;
	margin-top: 30px;
	margin-left: 25px;
}
.itemPanel
{
	width: 200px;
	height: 30px;
}
.icon
{
	width: 16px;
	height: 16px;
}
