
/* -------------------------------------------- */
/*   layout styles                              */
/* -------------------------------------------- */

body 
{
  min-width: 1040px;
  margin: 0 auto; 
  background: url(../Images/bg_body.jpg) repeat-x;
  text-align: left;
}

#all {height: 147px; text-align: center; background: url(../Images/bg_header.jpg) repeat-x;}
#header {width: 1160px; margin: 0px auto; text-align: left;}
#logo {text-align: left; width: 430px;}
#login {float: right; width: 300px;}
#content {width: 1040px; margin: 6em auto; padding-bottom: 3em; text-align: left;}

.clear {clear: both;}
#portal-footer {margin-top: 0px; background: transparent; border: 0px;}

#updateImage {position: absolute; margin: auto auto; left: 50%; top: 50%;}

#pages {text-align: right; width: 900px; font-weight: bold;}
.clear {clear: both;}

ul.menu {padding: 0px; margin: 0px;}
div.lookups {float: right; width: 500px; margin-top: 20px;}



/* -------------------------------------------- */
/*   nav styles                                 */
/* -------------------------------------------- */

#login {
    color: White; 
    text-transform: uppercase; 
    font-size: .7em; 
    letter-spacing: 2px; 
    font-weight: bold; 
    line-height: 3em; 
    margin-top: 2px; 
    text-align: right;}
#login a, .BackButton a {font-weight: bold}
#login a:hover, .BackButton a:hover {color: white; border-bottom: 1px;}

.BackButton {
    float : left; margin-top: -82px;
    line-height: 3em; 
    text-transform: uppercase; 
    font-size: .7em; 
    letter-spacing: 2px; 
}
.BackButton img {/*position: relative; top: 4px;*/}


/* -------------------------------------------- */
/*   general styles                             */
/* -------------------------------------------- */

body {font-family: Trebuchet MS, Futura, Arial, Univers, Helvetica, Verdana, Sans-Serif; font-size: 14px;}

a, a:visited {text-decoration: none; color: #d67129;}
a:link {color: #d67129}
a:hover, a:active {color: #660066}
a img, a:visited img {border: 0px none;}
tr.head a:link, tr.head a:visited {color: #fff;}
tr.head a:hover, tr.head a:active {color: #660066;}

p {line-height: 20px; margin: 1em 0 1.5em;}
ul {list-style-image: none;}

h1, h2, h3, h4, h5, h6 {border: 0px; color: #4f2056; font-family: inherit;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #d67129 !important}
h1 a:hover, h2 a:hover, h3 a:hover, 
h4 a:hover, h5 a:hover, h6 a:hover {color: #4f2056 !important; border-bottom: 1px #4f2056 solid;}
h2 {font-weight: bold; font-size: 1.2em; color: #4f2056}
h3 {font-size: 1em; font-weight: bold; color: #4f2056; line-height: 1.5em;}
h4 {color: #4f2056}

h1 {color: #D67129; height: 33px; padding-left: 10px; padding-top: 8px;}

blockquote {
 float: right; width: 200px;
 border: 0px;
 border-bottom: 1px solid #ccc;
 border-top: 3px solid #ccc;
 margin: 5px 0px 5px 20px;
 padding: 1em 0px; 
 color: #000;
 font-size: 1.4em;
 font-style: italic;
 line-height: 1.1em;
}

cite {
 display: block;
 font-size: .7em;
 font-style: normal;
 line-height: 1em;
 padding: 1em 0 0;}



/* -------------------------------------------- */
/*   table styles                               */
/* -------------------------------------------- */

.grid {border: 0px none;}


/* --- default tables --- */
table {background: url(../Images/table_btm.png) no-repeat bottom center; width: 910px; padding-bottom: 40px;}
tbody {background: url(../Images/table_mid.png) repeat-y 1px top;}
tr {background: url(../Images/table_row.png) repeat-y top center; width: 64px}
tr.head {background: url(../Images/table_top.png) no-repeat top center;
  color: #fff; font-size: .9em;
  vertical-align: bottom;
  text-transform: uppercase;
  height: 60px;         
}
td {vertical-align: top; font-size: 0.9em; color: #545454;}
td p {margin-top: 0px;}
tr#footer {background: url(../Images/table_btm.png) no-repeat bottom left;}

tr.pager td.info {text-align: right;}

td a {font-weight: bold;}


/* --- subtables --- */
table table, table table tbody, table table tr, table table tr.head {background: transparent; width: inherit;}
table table {width: 785px; padding-bottom: 0px;}
table table td {font-size: 1.1em;}
tr#row {background: transparent;}
tr#row td {}
tr#row table th {font-weight: bold;}
tr#row table tr.head {height: auto; color: #000; 
    /* border-bottom: 1px solid #222; background: url(../Images/subtable_top.png); height: 25px */
}

/*
tr#row table th.col2 {width: 70px;}
tr#row table th.col3 {width: 19%;}
tr#row table th.col4 {width: 19%;}
tr#row table th.col5 {width: 19%;}
tr#row table th.col6 {width: 103px;}*/



/* --- data tables --- */
table#orders td a {font-size: 1.5em; font-weight: bold;}
table#suborders td, table.experiments td, table#dataTable td {font-size: 1.3em;}
table#suborders td td {font-size: 1em;}

table.experiment tr.head th {padding-bottom: 1em;}


/* --- info tables --- */
table.InfoTable, table.InfoTable tbody, table.InfoTable tr, table.InfoTable tr.head {background: transparent;}

table.InfoTable td {padding-bottom: 0.5em; }
table.InfoTable tr.head {height: auto; color: #000; font-size: 1.2em; letter-spacing: 1px;}
table.InfoTable tr.head td {font-size: 1.1em; font-weight: bold; border-bottom: 1px solid #000; padding-bottom: 0px;}
td.InfoFieldName {text-align: left; color: #000; font-size: 0.9em; /*padding-top: 6px;*/}
td.InfoFieldValue {}
td.col1, td.col3 {width: 28%;}
td.col2, td.col4 {width: 22%;}

td.c3.col1, td.c3.col3, td.c3.col5 {width: 15%}
td.c3.col2, td.c3.col4, td.c3.col6 {width: 18%}

div.CollapsiblePanelHeader div {}
div.CollapsiblePanelHeader div span {color: #d67129; font-size: 0.9em; cursor: pointer;}

td.InfoFieldValue input[type="text"] {width: 75%;} /* to make space for the save btns */


/* --- notes tables --- */
table.notes {background: url(../Images/notes_btm.png) no-repeat bottom center; width: 431px; margin-bottom: 30px;}
table.notes tr {background: url(../Images/notes_mid.png) repeat-y top center;}
table.notes tbody {background-image: none;}
table.notes tr.head {background: url(../Images/notes_top.png) no-repeat top center;
  color: #fff; font-size: .9em;
  vertical-align: bottom;
  text-transform: uppercase;         
}
table.notes tr.head th {padding: 0 0 10px 20px;}
table.notes td {padding-left: 20px;}
span.notes.empty {display: block; margin-bottom: 0.5em;}

table.notes.left {float: left; clear: both;}
table.notes.right {float: left; margin-left: 50px;}
table.notes td.date {width: 100px;}



/* --- popup tables --- */

.popup table {width: inherit;}
.popup table, .popup tbody, .popup tr, .popup td {background: transparent;}
div.popup {
    background: transparent url(../Images/popup_bg.png) top center no-repeat; 
    width: 380px; margin-top: 0px; 
    padding: 28px 75px 20px;
}
.popup .bottom {
    /* background: transparent url(../Images/popup_btm.png) bottom center no-repeat; 
    margin-top: 0px; 
    padding: 0px 0px 0px; 
    display: block; */
}
.popup h2 {color: #fff; padding-left: 0px;}
.popup .close {float: right; padding-right: 0px;}

.newconstruct table, .newconstruct td, .newconstruct th, .newconstruct tr {border: 0px none;}
.newconstruct td, .newconstruct th {padding: .5em; vertical-align: bottom}
.newconstruct td {vertical-align: middle;}



/* -------------------------------------------- */
/*   btn styles                                 */
/* -------------------------------------------- */

img[alt="save"] {position: relative; top: 4px; cursor: pointer;}

input[type="submit"] {background: transparent; border: 0px none; padding: 0px; margin: 0px; cursor: pointer;}
/*
input[id*="btn"] {background: url(../Images/btn_left.png) no-repeat top left; height: 33px;}
input[id*="btn"] {background: url(../Images/btn_createexp.png) no-repeat top left; height: 33px;}
*/
input[id*="btnNewConstruct"] 
{
    background: url(../Images/btn_createcon.png) no-repeat top left; 
    height: 33px; line-height: 300px; overflow: hidden;
    width: 164px;     
    cursor: pointer;
    margin-left: 20px;
}

a img {cursor: pointer}
