
/* -------------------------------------------- */
/*   layout styles                              */
/* -------------------------------------------- */

body 
{
  min-width: 1040px;
  margin: 0 auto; 
  background: url(../Images/bg_body.jpg) repeat-x fixed;
  text-align: left;
}

#all {height: 147px; text-align: center; background: url(../Images/bg_header.jpg) repeat-x;}
#header {width: 1160px; margin: 0px auto; text-align: left;}
#logo {text-align: left; width: 430px;}
#loginx {float: right; width: 300px;}
#login {width: 1040px; margin: 2px auto 0px;}
#content {width: 1040px; margin: 4em auto; padding-bottom: 3em; text-align: left;}

.clear {clear: both;}
#portal-footer {margin-top: 0px; background: transparent; border: 0px;}

#updateImage {position: absolute; margin: auto auto; left: 50%; top: 50%;}

#pages {text-align: right; width: 1040px; font-weight: bold;}
.clear {clear: both;}

ul.menu {padding: 0px; margin: 0px; list-style: none;}
ul.menu li {padding: 8px 0px;}
div.menu {background: url(../Images/menu_bg.png) no-repeat center center; height: 65px; width: 327px; padding: 10px 0px 0px 20px; margin: 8px 0px;}
div.menu.elookup {background: url(../Images/menu_explookup.png) no-repeat center center; height: 52px; width: 147px; padding: 23px 0px 0px 200px;}
div.menu.clookup {background: url(../Images/menu_constructlookup.png) no-repeat center center; height: 52px; width: 147px; padding: 23px 0px 0px 200px;}
div.menu.elookup input, div.menu.clookup input {width: 100px;}
div.menu.elookup img, div.menu.clookup img {position: relative; top: 5px;}
div.lookups {float: right; width: 500px; /* margin-top: 20px; */}

div.menu input[type="image"] {position: relative; top: 14px;}

#footer {margin: 100px auto; padding-bottom: 2em; font-size: 0.9em; background: url(../Images/roots.png) no-repeat 0px 38px; width: 519px; height: 100px;}



/* -------------------------------------------- */
/*   nav styles                                 */
/* -------------------------------------------- */

#login {
    color: White; 
    text-transform: uppercase; 
    font-size: .7em; 
    letter-spacing: 2px; 
    font-weight: bold; 
    line-height: 3em; 
    margin-top: 2px; 
    text-align: right;}
#login a, .BackButton a {font-weight: bold}
#login a:hover, .BackButton a:hover {color: white; border-bottom: 1px;}

.BackButton {
    float : left; margin-top: -86px;
    line-height: 3em; 
    text-transform: uppercase; 
    font-size: .7em; 
    letter-spacing: 2px; 
}
.BackButton img {/*position: relative; top: 4px;*/}


/* -------------------------------------------- */
/*   general styles                             */
/* -------------------------------------------- */

body {font-family: Trebuchet MS, Futura, Arial, Univers, Helvetica, Verdana, Sans-Serif; font-size: 14px;}

a, a:visited {text-decoration: none; color: #d67129;}
a:link {color: #d67129}
a:hover, a:active {color: #660066}
a img, a:visited img {border: 0px none;}
tr.head a:link, tr.head a:visited {color: #fff;}
tr.head a:hover, tr.head a:active {color: #660066;}

p {line-height: 20px; margin: 1em 0 1.5em;}
ul {list-style-image: none;}

h1, h2, h3, h4, h5, h6 {border: 0px; color: #4f2056; font-family: inherit;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #d67129 !important}
h1 a:hover, h2 a:hover, h3 a:hover, 
h4 a:hover, h5 a:hover, h6 a:hover {color: #4f2056 !important; border-bottom: 1px #4f2056 solid;}
h2 {font-weight: bold; font-size: 1.2em; color: #4f2056}
h3 {font-size: 1em; font-weight: bold; color: #4f2056; line-height: 1.5em;}
h4 {color: #4f2056}

h1 {color: #D67129; height: 33px; padding-left: 10px; padding-top: 8px;}

blockquote {
 float: right; width: 200px;
 border: 0px;
 border-bottom: 1px solid #ccc;
 border-top: 3px solid #ccc;
 margin: 5px 0px 5px 20px;
 padding: 1em 0px; 
 color: #000;
 font-size: 1.4em;
 font-style: italic;
 line-height: 1.1em;
}

cite {
 display: block;
 font-size: .7em;
 font-style: normal;
 line-height: 1em;
 padding: 1em 0 0;}
 
span.left {float: left;}
span.right {float: right;}

.dropdown {width: 172px; height: 55px; background: url(../Images/dropdown_bg.png) no-repeat; margin-right: 40px;}
.dropdownimg {padding-right: 17px}
/*.dropdown a:link, .dropdown a:visited {color: #d67129}
.dropdown a:hover, .dropdown a:active {color: #638C24}*/

input.disabled {background: transparent; border: none;}
.button {padding-left: 20px;}
.red {color: Red;}


/* -------------------------------------------- */
/*   table styles                               */
/* -------------------------------------------- */

.grid {border: 0px none;}


/* --- default tables --- */
table {background: url(../Images/table_btm.png) no-repeat bottom center; width: 1140px; padding-bottom: 40px;}
tbody {background: url(../Images/table_mid.png) repeat-y 1px top;}
tr {background: url(../Images/table_row.png) no-repeat top bottom; height: 64px}
tr.head {background: url(../Images/table_top.png) no-repeat top center;
  color: #fff; font-size: .8em;
  vertical-align: bottom;
  text-transform: uppercase;
  height: 60px;         
}
td {vertical-align: top; font-size: 0.9em; color: #545454;}
td p {margin-top: 0px;}
tr#footer {background: url(../Images/table_btm.png) no-repeat bottom left;}

tr.pager td.info {text-align: right;}
td.first {padding-left: 20px;}

td a {font-weight: bold;}
table#suborders td.firstnum, table.construct td.firstnum, table#dataTable td.firstnum {font-size: 1.5em; font-weight: bold;}
table#suborders table td.firstnum, td.firstnum {font-size: 1.25em; font-weight: bold;}


/* --- subtables --- */
table table, table table tbody, table table tr, table table tr.head {background: transparent; width: inherit;}
table table {width: 869px; padding-bottom: 0px;}
table table th {color: #222;}
table table td {color: #545454; font-size: 1em;}
tr#row {background: transparent;}
tr#row td {}
tr#row table th {font-weight: bold;}
tr#row table tr.head {height: auto; color: #000;                      
    /* border-bottom: 1px solid #222; background: url(../Images/subtable_top.png); height: 25px */
}

/*
tr#row table th.col2 {width: 70px;}
tr#row table th.col3 {width: 19%;}
tr#row table th.col4 {width: 19%;}
tr#row table th.col5 {width: 19%;}
tr#row table th.col6 {width: 103px;}*/


#suborders .col1 {width: 8.5%;}
#suborders .col2 {width: 28.5%;}
#suborders .col3 {width: 33%;}
#suborders .col4 {width: 25%;}
#suborders .col5 {width: 5%;}



/* --- data tables --- */
table#orders td a {font-size: 1.5em; font-weight: bold;}
/*table#suborders td, */
table#dataTable td {font-size: 1.3em;} 
table#dataTable td {line-height: 2em;}
table#suborders td td {font-size: 1em;}

table.construct td {} 
table.construct .col6 {width: 40%}
table.construct tr {background-repeat: no-repeat; background-position: center bottom}
table.construct tr.head {background-position: center top}

table.experiment td {vertical-align: middle}
table.experiment tr.head th, table.dataTable tr.head th {padding-bottom: 1em;}


/* --- info tables --- */
table.InfoTable, table.InfoTable tbody, table.InfoTable tr, table.InfoTable tr.head {background: transparent;}

table.InfoTable td {padding-bottom: 0.75em; }
table.InfoTable tr.head {height: auto; color: #000; font-size: 1.2em; letter-spacing: 1px;}
table.InfoTable tr.head td {font-size: 1.1em; font-weight: bold; border-bottom: 1px solid #000; padding-bottom: 0px;}
td.InfoFieldName {text-align: left; color: #000; font-size: 0.9em; /*padding-top: 6px;*/}
td.InfoFieldValue {}
.InfoTable .col1, .InfoTable .col3 {width: 20%;}
.InfoTable .col2 {width: 35%;}
.InfoTable .col4 {width: 25%;}

td.c3.col1, td.c3.col3, td.c3.col5 {width: 15%}
td.c3.col2, td.c3.col4, td.c3.col6 {width: 18%}

div.CollapsiblePanelHeader div {}
div.CollapsiblePanelHeader div span {color: #d67129; font-size: 0.9em; cursor: pointer;}

td.InfoFieldValue input[type="text"] {width: 75%;} /* to make space for the save btns */

/*----- Collapsible Panel -----*/
.CollapsiblePanelHeader {
	width: 1040px; 
	font-weight:bold;
	font-size: 1.2em; color: #4f2056;
	height: 13px;
}
.CollapsiblePanelBody {
	width: 1040px;
}

/*----- Top Information Tables -----*/
.InfoTable {
	width: 1040px;
}
.InfoFieldName {
    text-align: right;
    xwidth: 375px;
    font-weight: bold;
}
.InfoFieldValue {
    text-align: left;
    xwidth: 375px;
}


/* --- notes tables --- */
table.notes {background: url(../Images/notes_btm.png) no-repeat bottom center; width: 496px; margin-bottom: 30px;}
table.notes tr {background: url(../Images/notes_mid.png) repeat-y top center;}
table.notes tbody {background-image: none;}
table.notes tr.head {background: url(../Images/notes_top.png) no-repeat top center;
  color: #fff; font-size: .9em;
  vertical-align: bottom;
  text-transform: uppercase;         
}
table.notes tr.head th {padding: 0 0 10px 20px;}
table.notes td {padding-left: 20px;}
span.notes.empty {display: block; margin-bottom: 0.5em; clear: both;}

table.notes.left {float: left; clear: both;}
table.notes.right {float: left; margin-left: 48px;}
span.notes.empty+table.notes.right {margin-left: 0px;}
table.notes td.date {width: 120px; font-size: 1.3em;}
table.notes td.date+td {padding-left: 0px; padding-right: 20px;}


/* --- popup tables --- */

.popup_shadow {background: #000; opacity: 0.4;}

.popup table {width: inherit; padding-bottom: 0px; margin-bottom: 20px;}
.popup table, .popup tbody, .popup tr, .popup td {background: transparent;}
div.popup {
    background: transparent url(../Images/popup_bg.png) top center no-repeat; 
    width: 380px; margin-top: 0px; 
    padding: 28px 75px 0px;
}
.popup_bottom {
    background: transparent url(../Images/popup_btm.png) bottom center no-repeat; 
    margin: 0px; 
    padding: 30px; 
    display: block;
    height: 10px;
}
div.popup.wide {
    background: transparent url(../Images/popupwide_bg.png) top center no-repeat; 
    width: 780px; margin-top: 0px; 
    padding: 28px 75px 0px;
}
.popup_bottom.wide {
    background: transparent url(../Images/popupwide_btm.png) bottom center no-repeat; 
    margin: 0px; 
    padding: 20px 30px 61px; 
    display: block;
    height: 10px;
}
.popup h2 {color: #fff; padding-left: 0px;}
.popup.wide h2 {color: #fff; padding-left: 0px; margin-top: 0px;}
.popup .close, .popup .button {float: right; padding-right: 0px; padding-left: 0px;}

.popup.wide table {max-width: 780px}
.popup.wide td {font-size: 0.9em;}
.popup.wide td.first {padding-left: 0px;}

.popup table.InfoTable tr.head {font-size: 1em;}

.newconstruct table, .newconstruct td, .newconstruct th, .newconstruct tr {border: 0px none;}
.newconstruct td, .newconstruct th {padding: .5em; vertical-align: bottom}
.newconstruct td {vertical-align: middle;}

li.newItem {display: block; float: none;}

table.noStyle, table.noStyle tbody, table.noStyle tr, table.noStyle th, table.noStyle td {background: none transparent; width: auto;}

table.field trx {background: url(../Images/field_mid.png);}
table.field tr.head {background: url(../Images/field_top.png) top center no-repeat; padding-top: 20px;}
table.field {background: url(../Images/field_btm.png) bottom center no-repeat; margin: 20px; width: 428px;}

a.kerberos {background: url(../Images/menu_bg.png) no-repeat; width: 317px; height: 33px; padding: 20px 15px 10px; margin-left: 6px; display: block;}
h2 a.kerberos:hover {border-bottom: 0px none;}
.secure img, a.kerberos img {vertical-align: middle;}

table.login tr.head {height: 73px;}
table.login {background: url(../Images/login_bg.png) no-repeat top left; width: 635px; height: 250px;}
table.login .register a {
    display: block; 
    width: 120px; height: 0px; 
    background: url(../Images/login_register.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    padding-bottom: 250px;
    float: right;
    position: relative;
    top: -2px; left: 2px;
}
table.login .register a:hover {background-position: -120px 0px;}

.registerWizard .boxTitle h2 {display: none;}
.registerWizard {background: url(../Images/register_bg.png) no-repeat; /* width: 405px; */ height: 358px;}
.registerWizard table, .registerWizard tbody, .registerWizard tr {background: transparent none; border: 0px none;}
.registerWizard tr.head td {height: 73px;}
.registerWizard tr {height: inherit;}
.registerWizard input[type=image] {margin-right: 793px;}

h2.orderform, h1.orderform {background: url(../Images/menu_bg.png) no-repeat; width: 317px; height: 33px; padding: 20px 15px 10px; display: block;}
.orderform img {vertical-align: middle;}
.orderform td.labels {width: 400px;}
.orderform strong {color: #000;}



/* --- crops lookup table --- */
#ctl00_ContentPlaceHolder1_TabContainer1_TabPanel2_tcCrops_body table {background: none;}

#ctl00_ContentPlaceHolder1_TabContainer1 {overflow-x: hidden; overflow-y: auto; height: 600px;}


/* --- user info popup table --- */
.userinfo select {width: 250px; margin-right: 10px;}


/* --- archived data tables --- */
table#constructs thead th {vertical-align: bottom; font-size: 0.8em;}
table#constructs thead {border-bottom: 2px black solid}
table#constructs td.last {padding-right: 20px;}
table#constructs {}


.clientOrder.InfoTable {font-size: 1.2em;}
#orders td.labels {font-size: 1.1em; font-weight: bold;}
.clientOrder.InfoTable .InfoFieldName {width: 250px;}


.popup.wide .prices td {font-size: 0.9em; height: 2em; border-bottom: 1px solid #bbb;}
.prices td.first {width: 220px;}
.prices td.labels, .prices .labels td {font-size: 1.1em; font-weight: bold;}
.prices .labels td {color: #d67129;}
.orderform .prices td.labels {width: inherit;}
.fineprint {font-size: 0.9em; font-style: italic;}


/* ----- reports table ----- */

#ctl00_ContentPlaceHolder1_ReportViewer1 table, #ctl00_ContentPlaceHolder1_ReportViewer1 tbody,
#ctl00_ContentPlaceHolder1_ReportViewer1 thead, #ctl00_ContentPlaceHolder1_ReportViewer1 td,
#ctl00_ContentPlaceHolder1_ReportViewer1 tr, #ctl00_ContentPlaceHolder1_ReportViewer1 th {width: inherit; background-image: none;}







/* -------------------------------------------- */
/*   btn styles                                 */
/* -------------------------------------------- */

img[alt="save"] {position: relative; top: 4px; cursor: pointer;}

input[type="submit"] {background: transparent; border: 0px none; padding: 0px; margin: 0px; cursor: pointer;}
/*
input[id*="btn"] {background: url(../Images/btn_left.png) no-repeat top left; height: 33px;}
input[id*="btn"] {background: url(../Images/btn_createexp.png) no-repeat top left; height: 33px;}
*/
input[id*="btnNewConstruct"] 
{
    background: url(../Images/btn_createcon.png) no-repeat top left; 
    height: 33px; line-height: 300px; overflow: hidden;
    width: 164px;     
    cursor: pointer;
    margin-left: 20px;
}

a img {cursor: pointer}
