<appSettings>
	<!-- Catbert settings -->
	<add key="AppName" value="PTF" />

	<!-- Application specific Settings -->
	<add key="AdminEmail" value="dtricoli@caes.ucdavis.edu"/>
	<add key="FromEmail" value="automatedemail@caes.ucdavis.edu"/>
	<!-- Email to be emailed when an order is placed -->
	<add key="CatOps.CatbertWebService" value="https://secure.caes.ucdavis.edu/catbert/services/CatbertWebService.asmx"/>

	<add key="ReportServer" value="http://roberto.caesdo.caes.ucdavis.edu/reportserver" />
</appSettings>