<appSettings>
	<!-- Catbert settings -->
	<add key="AppName" value="PTF" />

	<!-- Application specific Settings -->
	<add key="AdminEmail" value="dmtricoli@ucdavis.edu; kjcarney@ucdavis.edu"/>
	<add key="FromEmail" value="automatedemail@caes.ucdavis.edu"/>
  <add key="BillingEmail" value="cehouk@ucdavis.edu; dmtricoli@ucdavis.edu"/>
	<!-- Email to be emailed when an order is placed -->
	<add key="CatOps.CatbertWebService" value="https://secure.caes.ucdavis.edu/catbert/services/CatbertWebService.asmx"/>

	<add key="ReportServer" value="http://reports.caes.ucdavis.edu/reportserver" />

  <!-- Admin page for catbert 3 -->
  <add key="AdminPageURL" value="https://secure.caes.ucdavis.edu/catbert3/Management/UserManagement.aspx?app=PTF"/>
</appSettings>