<appSettings file="AppSettings.config">
	<!-- Catbert settings -->
	<add key="AppName" value="PTF" />

	<!-- Application specific Settings -->
	<add key="AdminEmail" value="ptf-notification@ucdavis.edu"/>
	<add key="FromEmail" value="automatedemail@caes.ucdavis.edu"/>
  <add key="BillingEmail" value="ptf-billing@ucdavis.edu"/>
	<!-- Email to be emailed when an order is placed -->
	<add key="CatOps.CatbertWebService" value="https://catbert.caes.ucdavis.edu/services/CatbertWebService.asmx"/>

	<add key="ReportServer" value="http://caes-reports/reportserver" />

  <!-- Admin page for catbert 3 -->
  <add key="AdminPageURL" value="https://catbert.caes.ucdavis.edu/UserManagement/Manage/PTF"/>
</appSettings>