<connectionStrings>
	<add name="MainDB" connectionString="Data Source=flexo;Initial Catalog=PTF;Integrated Security=True" providerName="System.Data.SqlClient"/>
	<add name="CATBERT" connectionString="Data Source=flexo;Initial Catalog=Catbert;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>