<connectionStrings>
	<add name="MainDB" connectionString="Data Source=terry;Initial Catalog=PTF;Integrated Security=True" providerName="System.Data.SqlClient"/>
	<add name="CATBERT" connectionString="Data Source=terry;Initial Catalog=Catbert;Integrated Security=True" providerName="System.Data.SqlClient"/>
	<add name="Ratbert" connectionString="Data Source=terry;Initial Catalog=RATBERT;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>