<connectionStrings>
  <add name="MainDB" connectionString="Data Source=db.caes.ucdavis.edu;Initial Catalog=PTF;Persist Security Info=True;User ID=ProdAppPTF;Password=See 1Password" providerName="System.Data.SqlClient" />
  <add name="CATBERT" connectionString="Data Source=db.caes.ucdavis.edu;Initial Catalog=Catbert3;Persist Security Info=True;User ID=ProdAppPTF;Password=See 1Password" providerName="System.Data.SqlClient" />
  <add name="Ratbert" connectionString="Data Source=db.caes.ucdavis.edu;Initial Catalog=Ratbert;Persist Security Info=True;User ID=ProdAppPTF;Password=See 1Password" providerName="System.Data.SqlClient" />
</connectionStrings>