<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTF.Data.Properties.Settings.PTFConnectionString"
            connectionString="Data Source=vogel;Initial Catalog=PTF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>