
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Commencement.SQL/Commencement.SQL.dbmdl
*.dbmdl
*.docstates

UpgradeLog.XML
PTF.CLR/UpgradeLog.htm
PTFConvert/UpgradeLog.htm
UpgradeLog2.htm
UpgradeLog.htm
.vs/PTF/v15/Server/sqlite3/storage.ide-wal
.vs/PTF/v15/Server/sqlite3/storage.ide-shm
.vs/PTF/v15/Server/sqlite3/storage.ide
.vs/PTF/v15/Server/sqlite3/db.lock
.vs/PTF/FileContentIndex/f067a607-ccb6-4b42-9508-d9fa577cb64b.vsidx
.vs/PTF/FileContentIndex/46b850a7-25dd-4a37-bbef-1bd8e2a71a87.vsidx
.vs/PTF/FileContentIndex/41a9056a-f2fb-4095-9af5-a886436e31cf.vsidx
.vs/PTF/FileContentIndex/21f5891c-daf0-4c76-acf4-e64d24ba5556.vsidx
.vs/PTF/FileContentIndex/14e3d3df-4999-4762-9c45-79a103812f74.vsidx
.vs/PTF/config/applicationhost.config
.vs/config/applicationhost.config
ConnectionStringsProd.config
ConnectionStringsTest.config
PTF.Web/appSettings.config
PTF.Web/connectionStrings.config
.vs/PTF/FileContentIndex/a9f5c7c0-6408-470b-8f59-1c60cf5b52c2.vsidx
.vs/PTF/FileContentIndex/7c5ab1cc-d31d-4b21-bc6b-dcb061b69851.vsidx
.vs/PTF/FileContentIndex/3cef91f5-6f58-445b-8ea8-2eeea0c5cd8d.vsidx
.vs/PTF/FileContentIndex/1e286be5-d896-4f90-9b40-181406b347e8.vsidx
.vs/PTF/FileContentIndex/4da53ea2-4078-4f97-bdfb-cd2970d6f7c5.vsidx
.vs/PTF/FileContentIndex/7ec5aa4e-53bf-451a-b1ed-bc7e94ad0be6.vsidx
.vs/PTF/FileContentIndex/e553c651-d076-4437-9287-514dc5bdb521.vsidx
.vs/PTF/FileContentIndex/b54ddb24-4a6f-4929-8ef8-faea36957bd2.vsidx
.vs/PTF/FileContentIndex/3cef91f5-6f58-445b-8ea8-2eeea0c5cd8d.vsidx
.vs/PTF/FileContentIndex/0dce6b68-712e-48be-b055-dca507706d02.vsidx
.vs/PTF/FileContentIndex/047ebc7e-23d5-40fa-9e3a-b7fd570ad6a8.vsidx
.vs/PTF/FileContentIndex/0dce6b68-712e-48be-b055-dca507706d02.vsidx
.vs/PTF/FileContentIndex/3cef91f5-6f58-445b-8ea8-2eeea0c5cd8d.vsidx
.vs/PTF/FileContentIndex/b54ddb24-4a6f-4929-8ef8-faea36957bd2.vsidx
.vs/PTF/FileContentIndex/e553c651-d076-4437-9287-514dc5bdb521.vsidx
