<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
		<authorization>
			<allow roles="Admin, Reader, User"/>
			<deny users="*"/>
		</authorization>
    </system.web>

	<location path="Lookups.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Operators.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Users.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Billing.aspx">
		<system.web>
			<authorization>
				<allow roles="Accountant, Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow roles="Accountant"/>
			</authorization>
		</system.web>
	</location>
</configuration>
